*{
    margin: 0 auto;
}

.section{
    padding: 10px;
}

h1{
    color: #485e6f;
    font-size: 40px;
    text-align: center;
    margin: 5px;
}
h1::after{
    content: '';
    width: 100px;
    height: 4px;
    background: currentColor;
    display: block;
    margin: 6px auto;
}

p{
    margin: 20px;
}

footer{
    margin-top: 400px;
}